%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", href: "#papers"} Papers
  %li
    %a{"data-toggle" => "tab", href: "#bibliography"} Bibliography
  %li
    %a{"data-toggle" => "tab", href: "#settings"} Settings
.tab-content
  #papers.tab-pane.active
    %table.table.table-hover
      %thead
        %tr
          %th #
          %th Title
          %th Author
          %th Journal
          %th Action
      %tbody
        - @project.papers.each_with_index do |paper, i|
          %tr
            %td= i+1
            %td{data: {paper_id: paper.id}}= paper.title
            %td= paper.authors
            %td= paper.journal
            %td= button_to '-', paper, method: :delete, :remote=>true, data:{confirm: 'Are you sure?' }, class: "btn btn-danger"
        = render 'papers/form_light', :@paper => Paper.new, :project => @project
  #bibliography.tab-pane
    = render 'layouts/bibliography', :project => @project
  #settings.tab-pane
    %h1 Settings
    = render 'layouts/settings', :project => @project

:javascript
  $(function() {
    $('*[data-paper-id]').on('click', function() {
      $('#right').load('papers/' + $(this).data('paper-id') + '/edit');
    });
  });