= form_for @paper, remote: true, id: 'new_paper_light' do |f|
  %tr
    %td= f.hidden_field :project_id, value: project.id
    %td= f.text_field :title, class: 'form-control'
    %td= f.text_field :authors, class: 'form-control'
    %td= f.text_field :journal, class: 'form-control'
    %td= f.submit '+', :class => "btn btn-primary"

:javascript
  $("new_paper_light")
    .on("ajax:success", function(event, data, status, response) {
      $( "#main" ).load( "projects/#{project.id}" );
  });