%h1 Settings
%h3 Rename Project
= form_for @project, remote: true, data: {edit_project: true} do |f|
  .input-group
    = f.text_field :name, :class => "form-control", :placeholder => @project.name
    %span.input-group-addon.pointer{style: "max-width: 60px;", data: {edit_project_btn: true}} Save

%h3 Users on project
- @project.users.each do |user|
  = form_tag "/project/removeUser", remote: true, data: {remove_user: true} do
    .input-group
      = text_field_tag :user_login, user.login, :readonly => true, class: "form-control"
      = hidden_field_tag :project_id, @project.id
      .input-group-addon.pointer -

= form_tag "/project/addUser", remote: true, data: {add_user: true} do
  .input-group
    = hidden_field_tag :project_id, @project.id
    = text_field_tag :user_login, "", placeholder: "abc1234", class: "form-control"
    .input-group-addon.pointer +

:javascript
  form = $("*[data-edit-project]");
  form.on("ajax:success", function(event, data, status, response) {
      $( "#left" ).load( "/projects/left" );
  });
  $("*[data-edit-project-btn]").on('click', function() {
    form.submit();
  });

:javascript
  $("*[data-add-user],*[data-remove-user]")
    .on("ajax:success", function(event, data, status, response) {
      $( "#settings" ).html( response.responseText );
  });

:javascript
  $("*[data-remove-user]").on('click', function() {  
    $(this).submit();
  });
